[2017-12-01 19:16] nirinchev opened #6 "Add binary support"
Would probably require support for custom formatters.

[2017-12-01 19:17] nirinchev opened #7 "Add date mutation support"
Currently, there's a type mismatch during mutation. Ideally, realm-js should accept strings and interpret them as dates. Issue here: https://github.com/realm/realm-js/issues/1542

[2017-12-01 19:18] nirinchev opened #8 "Authentication"
TODO:
- [ ] Auth for regular http requests.
- [ ] Auth for socket requests (likely only authenticate and connect and assume access for the lifetime of the socket.
- [ ] ROS openRealm should accept token to impersonate the user rather than use the admin account.
- [ ] Update ROS auth middleware to handle access tokens.

References:
https://github.com/apollographql/graphql-subscriptions/blob/master/

[2017-12-01 19:23] nirinchev opened #9 "More subscription modes"
Currently, we only have a mode that returns the entire query when something changes. This is obviously inefficient and we can add different modes, such as getting only the changed objects back.

[2017-12-01 19:25] nirinchev opened #10 "Add at least primitive CI"

[2017-12-01 19:25] nirinchev opened #11 "Add tests"

[2017-12-01 19:25] nirinchev opened #12 "Package as npm module"

[2017-12-01 23:27] nirinchev opened #13 "Expose config option to disable graphiql explorer"
Perhaps make it a `[ "All", "Admin", "None" ]` enum

[2017-12-04 15:27] #8 closed, assigned to nirinchev

[2017-12-04 22:11] #13 closed, assigned to nirinchev

[2017-12-05 17:19] bigfish24 opened #16 "Publish to npm registry"
We will do this with the launch

[2017-12-05 17:20] bigfish24 opened #17 "Create documentation on realm.io for GraphQL"

[2017-12-06 04:46] bigfish24 opened #18 "Scaling subscriptions"
From Yavor:

To me subscriptions are a specific case of Global Notifier.

I suggest the following: create a meta-realm - `__observations`, with a single type `Observation` with two string properties `path` (an absolute path to a realm file on the server, or wildcard), and `endpoint` (a HTTP url that can accept POST requests). Every time any given sync worker integrates a remote changeset where the

[2017-12-08 01:39] bigfish24 opened #19 "Cannot run npm start with ROS"
I ran `npm run build` then `npm pack` producing `realm-object-server-graphql-1.0.0.tgz`. Then I ran `ros init` to create a server project. I then ran `npm install realm-object-server-graphql-1.0.0.tgz` in that project and updated the `index.ts` file to be:

[code]

This produces the following error after `npm start`:

[code]

Which is described here: https://github.com/apollographql/graphql-subscr

[2017-12-08 11:03] #19 closed, assigned to nobody

[2017-12-08 23:42] bigfish24 opened #20 "Add mutation support for schema editing"
This should be limited to admin users but should support:

1. Creating new classes
2. Added new properties to a class (additive only for synced Realms)

[2017-12-08 23:44] bigfish24 opened #21 "API to create or delete a Realm?"
The original ROS REST data access API proposal included APIs to create a Realm (of which you need [mutation support to edit the schema](https://github.com/realm/realm-object-server-graphql/issues/20)) but also to delete a Realm. We have a [delete Realm REST API already](https://realm.io/docs/cookbook/rest/delete-synced-realm) (which is poorly documented), but could also be integrated?

[2017-12-09 16:13] #6 closed, assigned to nirinchev

[2017-12-09 16:13] #7 closed, assigned to nirinchev

[2017-12-12 14:13] #17 closed

[2017-12-12 14:13] #12 closed

[2017-12-13 02:08] #16 closed

[2017-12-20 19:07] rbnacharya opened #26 "Getting null object on querying with primary key"
https://github.com/realm/realm-graphql-service/blob/472a557f0e408b351656416863009ba45b9af8f2/src/service.ts#L473

[2017-12-27 17:08] #26 closed

[2018-01-22 21:37] astigsen opened #28 "Add mutation support for relationships"
When updating objects, you often need to set individual relations, but that is currently quite complex as the API only allows you to create new objects. This is especially problematic with lists, as you might want to do specific operations (adding, removing or moving entries), and you currently can only do that by re-creating the entire list.

There are two subproblems here:

1. How to set relatio

[2018-01-22 21:46] bigfish24 commented on #28
Nice! Should we also expose the object ID in Realm as a property on all objects so that it is then easy to reference the ID. This is the PK when there is one but perhaps would simplify thinking about what is the ID in the GraphQL syntax?

[2018-01-22 21:50] nirinchev commented on #28
I'd be very surprised if this were supported GraphQL syntax. As far as I remember, GraphQL objects can only define fields and not what seems like a method. While we can definitely extend the syntax and parse it (and it does look much nicer than what I am going to propose), I imagine it would take a serious amount of effort.

An alternative approach that seems like it will be easier to implement wo

[2018-01-22 21:50] astigsen commented on #28
That should be the end goal. But the current API's for working with the internal object id's is a bit clunky (and private), so we probably need a bit of design work first.

[2018-01-22 21:52] astigsen commented on #28
According to http://graphql.org/learn/queries/#arguments it should be possible to define arguments on individual properties.

[2018-01-22 21:58] nirinchev commented on #28
My understanding was that this was only possible for return types (hence it's in the queries section), not for input types (GraphQL makes a difference between those). For example [here](http://graphql.org/graphql-js/mutations-and-input-types/) it says:

[2018-01-22 22:47] nirinchev commented on #28
Do you prefer that to the dynamic API I proposed? I guess my main motivation for suggesting them is that right now we don't do any preprocessing of the inputs - we just proxy them to realm-js. If we included the fields as part of the input schema, e.g.:
[code]

we would:
1. Need to preprocess that - validate the object against the schema, find all fake properties that we added, remove them and set

[2018-01-23 18:25] astigsen commented on #28
If we have to go in that direction, I think that the first API you proposed is preferable. Overloading the property names seems a bit inflexible and brittle.

[2018-01-24 10:21] beebase opened #29 "error on install"
npm install realm-graphql-service -S
[code]

package.json
[code]

[2018-02-08 18:27] Talor-A commented on #29
+1

[2018-02-08 18:28] nirinchev commented on #29
Seems to be some regression related to `ros init`. Can you try to remove your `node_modules` folder and try again?

[2018-02-15 09:37] LucidComplex opened #30 "Add appendObjectName"
Currently, the only way I can find to mutate an object with a collection is to update the collection and insert my new member of the collection along with the existing members.

Is it possible to have a mutation to append a list?

[2018-02-15 09:57] nirinchev commented on #30
This is currently tracked in https://github.com/realm/realm-graphql-service/issues/28. It's not currently possible, but we're exploring options to enable that. In theory, it shouldn't be too hard to do but hasn't been prioritized yet.

[2018-02-15 09:57] #30 closed

[2018-02-15 19:12] Talor-A commented on #29
`npm uninstall realm-object-server && rm -rf node_modules/ && npm i --save realm-object-server realm-graphql-service` fixed it for me

[2018-02-19 03:18] LucidComplex opened #31 "Add support for filter/skip/limit/etc arguments of children fields"
Title says it all.

http://graphql.org/learn/schema/#arguments tells me it's possible 😃

[2018-02-19 08:40] nirinchev commented on #31
By children fields, do you mean collection properties (to many relationship)? So you can have something like:

[code]

[2018-02-19 08:45] LucidComplex commented on #31
Exactly! And ofcourse

[code]

should work as well

[2018-02-19 08:56] nirinchev commented on #31
Sounds like a nice addition. I'll add it to our backlog, but in the meantime, we'd be happy to review a PR if you'd like to take a stab at it 🤓

[2018-02-21 08:18] LucidComplex opened #32 "Are queries using indices?"
For example,
[code]
Assuming there is an index on `providerId`, is it used?

[2018-02-22 00:08] LucidComplex commented on #32
I don't quite understand, how do the indices work when they depend on the schema declaration? Doesn't it do something in the database when the schema is first pushed?

[2018-02-22 12:29] nirinchev commented on #32
The on-device copy of the database is a fully featured Realm database (with indices, PKs and all that), that our Sync engine is keeping synchronized with the server database. The data in both is the same, but indices are not synchronized between them. The reasoning is that this gives you more flexibility to declare different indices for different applications using the same Realm - e.g. a mobile a

[2018-03-05 00:30] LucidComplex opened #35 "Query by Date"
Just noticed we can't query by Date.

[code]

Gives me

[code]

Checking the available types, I can't find a 'Date' type.

[2018-03-05 09:47] nirinchev commented on #35
Can you try upgrading your ROS dependency to 2.8.0 as it includes the necessary parser improvements to handle datetimes. Then you'll be able to query like: `createdDatetime < 2018-03-04@00:00:00` - no need for the quotes.

[2018-03-05 10:05] LucidComplex commented on #35
Ah, I see. However, when I tried 2.8.0 there was an issue with GraphQL. After a while (can't quite figure out what's causing this), queries through GraphQL would return an error about the realm being closed.

[2018-03-05 10:08] nirinchev commented on #35
That's valuable information, thank you! I'll try to investigate this and report back.

[2018-03-05 10:30] nirinchev commented on #35
Can you share what version of ROS you're using that doesn't manifest the issue?

[2018-03-05 10:38] LucidComplex commented on #35
2.7.0 right now

On Mon, Mar 5, 2018, 18:30 Nikola Irinchev <notifications@github.com> wrote:

--
Best,
Eli Edrian Tan

[2018-03-05 10:39] nirinchev commented on #35
Thanks, I'll try to get reproduce this, but if you have a repro case you can share, that'll be incredibly valuable.

[2018-03-05 11:43] nirinchev commented on #35
I've been trying to reproduce this and haven't been able to so far. If you can describe your usage patterns I can try to replicate them as closely as possible, but so far I've had no luck :(

[2018-03-06 20:03] mgeerling opened #37 "GraphQL Schema is not updated after it has been queried"
Reported here https://forums.realm.io/t/update-to-graphql-schema/1034

To repro:
1) query graphQL endpoint
2) Updated a class' schema (via studio or other methods)
3) query endpoint again

[2018-03-06 20:45] nirinchev commented on #37
This is not a bug. By design the graphql service caches the schema of realms because it has to be computed for each request and is far more expensive than the request itself. The GraphQL service exposes configuration options to control the maximum number of schemas in the cache as well as the max age of these schemas. If they are self hosting, they can configure it when creating the service. If th

[2018-03-06 21:31] nirinchev commented on #37
Actually, I decided it makes sense to expose an endpoint for invalidating a cached schema entry. This should solve this user's issue.

[2018-03-06 22:04] #37 closed

[2018-03-07 07:37] LucidComplex commented on #35
Here is a bit of the log left by the realm object server when querying via GraphQL when it is "closed".

[code]

Perhaps this deserves its own issue?

[2018-03-07 11:00] nirinchev opened #39 "Realms get closed prematurely with ROS 2.8.0"
Reported in #35, a user is seeing this happen sporadically:

[code]

Because of the Realm cache, this means they'll get a closed Realm on subsequent requests as well until the Realm is evicted from the cache. It appears the issue manifests after upgrading from 2.7.0 to 2.8.0.

[2018-03-07 11:01] nirinchev commented on #35
You're right. I opened #39 to track and discuss that. I'll close the date issue now, because for ROS versions prior to 2.8.0, we don't support querying by date.

[2018-03-07 11:01] #35 closed

[2018-03-08 06:43] LucidComplex commented on #39
Hmm, I haven't tried refreshing GraphiQL, I'll try that when the issue comes up.

Yes, I'm accessing the same realm. Other realms stay available for access.

[2018-03-08 07:40] LucidComplex commented on #39
The issue has come up. This time, GraphiQL stops working. Regular HTTP POSTs to the GraphQL endpoint don't work as well, but requests with `realm-graphql-client` work. It appears that GraphQL/POST and `realm-graphql-client` experience the realm being closed separately.

[2018-03-08 10:44] astigsen commented on #37
Could we version the schemas in the cache so that we can update them when there is a newer version in the realm?

[2018-03-08 13:34] kneth commented on #37
Only https://realm.io/docs/javascript/latest/api/Realm.html#schemaVersion

[2018-03-08 13:43] nirinchev commented on #37
Hm... does the schema version for synchronized Realms increase automatically when the client integrates changes?

[2018-03-09 07:49] kneth commented on #37
No, and I don't think schema version is used for anything when you are in additive mode.

@tgoyne Can you enlighten us?

[2018-03-09 08:04] LucidComplex opened #40 "Subscriptions get shared between clients"
Subscribe filters don't work properly when 2 different clients subscribing to the same object but with different filters. For example Client A runs:
[code]
Works great with only Client A running the code; however, when Client B runs
[code]
Both clients subscribe to both filters, switching between them for every update.

[2018-03-09 16:01] tgoyne commented on #37
The object store invokes a callback (BindingContext::schema_did_change()) whenever the schema for a Realm changes, which JS currently does not implement. I don't think any bindings currently expose this (Java uses it internally and Cocoa *should* use it internally but with the Browser being deprecated it's never been a pressing task), so there's no precedent for what the public API should look lik

[2018-03-12 09:29] kneth commented on #37
@nirinchev If you think a callback could help, please create a Realm JS issue for it.

[2018-03-17 11:36] ajonno opened #41 "Starting realm-graphql-service is confusing"
This might just be me, but I spent a while - after installing realm-graphql-service npm package, trying to figure out why I couldn't get a response (from the Realm server) when launching GraphiQL in the browser.

What I found was that if  (after installing and configuring realm-graphql-service) --> and then restart the server with "ros start" ..... GraphQL didn't work. BUT if I restarted the serve

[2018-03-23 00:31] LucidComplex commented on #40
I'd like to follow up on this issue

[2018-03-23 00:32] LucidComplex commented on #39
We're at ROS 3 now, Realm still closes.

[2018-05-03 18:54] bmunkholm opened #43 "Add CHANGELOG.md and track releases there."

[2018-05-07 09:58] cedvdb commented on #28
So is it possible to add relation on mutation ?

EG: I would like to create a product with an existing supplier

[code]

[2018-05-07 10:02] nirinchev commented on #28
If your objects have primary keys, you should be able to use `updateProduct` rather than `addProduct`. This is the only supported approach currently.

[2018-05-11 16:52] mgeerling commented on #40
@LucidComplex , it doesn't look like you shared any kind of error message or the exact behavior you're seeing.  I just see two code snippets

[2018-05-15 01:06] LucidComplex commented on #40
@mgeerling There is no error message. I believe I've clearly described the behavior that is occurring. The subscriptions are being shared. That is, when you subscribe to 2 different things, such as subscribing to 2 different authors, both observers receive update for both authors -- even updates not intended for them.

[2018-05-17 03:05] LucidComplex commented on #40
I tried what you said, and indeed the issue didn't occur. However, I created 2 clients by copying the directory and running both of them at the same time. I set one of the client to subscribe to Nissans, and the other to Hondas, and the issue occurred there.

[2018-05-17 08:54] nirinchev commented on #40
Thanks. With the new instructions, I was able to reproduce it and we'll have a fix shortly.

[2018-05-17 09:55] #40 closed

[2018-05-18 03:43] howdyhyber commented on #39
Is there any update regarding this issue?

[2018-05-18 03:59] howdyhyber opened #46 "Realm-graphql-service closes the realm and shows weird errors"
I have a problem here with the realm-graphql-service.

Its randomly happens, sometimes frequent, sometimes appears only once a day.

This is the logs:

0|npm      | info: Got signal SIGINT. Shutting down
0|npm      | info: Loaded feature token capabilities=[Sync], expires=Wed Apr 19 2017 14:15:29 GMT+0000 (UTC)
0|npm      | info: Realm Object Server version 2.8.1 is starting
0|npm      | info: [sy

[2018-05-21 03:36] LucidComplex opened #47 "Cannot access reference realms"
GraphQL can't access reference realms. This error appears when you attempt to access realm via `realm-graphql-client`

[code]
Tried setting the realm's permissions to allow the user accessing it, but the same error appears. For now, our workaround is to set the user as an Administrator, which allows access.

Thing to note, I've tried opening full realms, they work. On upgrading them to reference r

[2018-05-25 00:42] howdyhyber commented on #41
Hi Ajonno! can i see snippet code your realm-graphq-service configuration? We are using graphql and its working, maybe i could help.

[2018-05-25 01:52] ajonno commented on #41
hey, thanks for following up on this! actually is really my bad that i left this open - we are also fine now in terms of using GraphQL via Realm. there is one related open issue atm, but it's for generating React production builds and is a separate ticket.

[2018-05-25 01:52] #41 closed

[2018-05-28 00:58] LucidComplex commented on #47
Follow up

[2018-05-28 05:38] Dids commented on #47
Also seeing this, but even if I try to access the GraphQL API of a reference realm with an admin user, I still can't seem to query anything:

[code]

@LucidComplex From the sounds of it, you can still query after authenticating as an admin?

[2018-05-28 05:56] LucidComplex commented on #47
@Dids Yes, I can still query when using an admin user.

I can't access with a regular user, even if the reference realm was created by the same user.

[2018-05-29 11:55] nirinchev commented on #47
Reference realms are indeed accessible only by admin users. We are going to lift this limitation in a future version, but for now you'll need to deploy an intermediary service that reads data as an admin and serves it to non-admins.

[2018-06-06 02:01] howdyhyber commented on #46
Follow up

[2018-06-06 12:21] nirinchev commented on #46
We still don't have a way to reproduce this which hinders any debugging efforts 😔

[2018-06-07 01:07] howdyhyber opened #49 "It there a way to delete an existing field inside the class of our realm?"
Can we do this in realm? We needed it especially if we manually added the field using Realm Studio and i mistakenly choose the wrong data type for instance. Is this a possible feature in realm? :smiley:

[2018-06-07 01:20] howdyhyber opened #50 "Realm Sync Observation"
I have an observation, when i sync to a specific class, while adding data to that class continuously, its syncing is slow. Is this normal?

[2018-06-07 01:36] howdyhyber opened #51 "Error on New ROS"
I have encountered an error from the latest ROS like this.

Name "\_\_Class" must not begin with "\_\_", which is reserved by GraphQL introspection. In a future release of graphql this will become a hard error.
0|npm      |     at assertValidName (/home/ubuntu/spingine/node_modules/graphql/utilities/assertValidName.js:37:19)
0|npm      |     at new GraphQLObjectType (/home/ubuntu/spingine/node_mod

[2018-06-07 02:45] nirinchev commented on #51
This is a warning, not an error. You should be able to continue working with the service.

[2018-06-07 02:48] nirinchev commented on #50
I'm not sure what you mean by "syncing is slow". Can you share more details, ideally a project that reproduces the problem?

[2018-06-07 07:41] nirinchev commented on #49
Synchronized Realms only support additive migrations (i.e. you can't really remove fields or change their type). You can read more about it in the [documentation](https://docs.realm.io/platform/using-synced-realms/migrating-your-data).

If you don't have live apps that use that Realm, it would probably be easiest if you just created a new one.

[2018-06-07 07:43] nirinchev commented on #51
Yes, this is an unfortunate collision between GraphQL semantics and Realm semantics. We'll figure something out before it becomes an error - there's nothing wrong with what you're doing.

[2018-06-11 00:33] howdyhyber opened #52 "SetTimeOut error in GraphQL"
I have seen in the logs something like this.

0|npm      | { FetchError: network timeout at: http://127.0.0.1:35853/xeleqt-production/realms/files/%2Fxeleqt-production
0|npm      |     at Timeout._onTimeout (/home/ec2-user/xeleqt-object-server/node_modules/node-fetch/index.js:126:13)
0|npm      |     at ontimeout (timers.js:482:11)
0|npm      |     at tryOnTimeout (timers.js:317:5)
0|npm      |

[2018-06-11 01:12] howdyhyber opened #53 "Realm Data Deletion through GraphQL"
I tried to delete data from ROS using Graphql mutation, trying to lower the storage space of the server. I delete almost 30,000 data for two classes, then as i checked the storage, its still the same, seems like it does not take effect. How is this processed in your end? How do we effectively wipe the data?

[2018-06-11 03:00] nirinchev commented on #53
This is by design - data isn't deleted from ROS because it's possible that a client connects with a version that contains just a portion of the data and has its own changes. Such a client will then need to apply operational transformation to merge its local state with the server's.

That being said, there are mechanisms in ROS that will periodically compact the history based on some heuristics - e

[2018-06-11 03:00] #53 closed

[2018-06-11 03:03] nirinchev commented on #52
This is benign error that should be fixed with ROS 3.6.6.

[2018-06-11 06:45] howdyhyber opened #54 "Upgrading to the latest ROS"
I updated my ROS today and this is what happened.

Detected an unhandled promise rejection at:  Promise {
0|npm      |   <rejected> TypeError: next is not a function
0|npm      |     at /home/ubuntu/xeleqt-realm-object-server/node_modules/apollo-server-express/dist/expressApollo.js:25:24
0|npm      |     at <anonymous> } , reason:  TypeError: next is not a function
0|npm      |     at /home/ubuntu

[2018-06-11 08:49] nirinchev commented on #54
I imagine this has happened because ROS couldn't boot up properly. What are the logs when ROS starts?

[2018-06-11 09:18] howdyhyber commented on #54
i think the one causing it is the updated version of realm-graphql-service, because when i downgraded the realm-graphql-service to 2.4.0, it works perfectly fine. I will try to comment the previous log, ill try to find it.

[2018-06-11 10:01] nirinchev commented on #54
Okay, I've found the problem - it's related to types starting with underscores. We'll fix it and release a new version shortly. In the meantime, you can downgrade to 2.4.0.

[2018-06-11 11:16] nirinchev commented on #50
@howdyhyber pinging you for more info on this issue, otherwise I'll close it since there's nothing we can do.

[2018-06-11 11:16] #49 closed

[2018-06-11 11:17] #43 closed

[2018-06-11 11:18] nirinchev commented on #46
Duplicate of https://github.com/realm/realm-graphql-service/issues/39

[2018-06-11 11:18] #46 closed

[2018-06-11 11:18] #29 closed

[2018-06-11 11:18] #51 closed

[2018-06-11 11:18] #54 closed

[2018-06-12 02:02] howdyhyber commented on #50
@nirinchev just close this issue for , ill try to replicate in on our end so i can gie you more input.

[2018-06-12 07:48] nirinchev commented on #50
Thanks :) If you replicate it, feel free to reopen and post the instructions and we'll take a look.

[2018-06-12 07:48] #50 closed

[2018-06-19 00:38] howdyhyber commented on #52
Good morning @nirinchev !

Im using the latest ROS and graphql, i still see this error.

[2018-06-19 09:09] SogoGolf commented on #39
hi @nirinchev we saw this same issue today on our dev server. neither GraphiQL nor realm-graphql-client we're returning data and we're instead throwing the following error:

[code]

**Dev server versions**
**realm-object-server** : ran ```ros --version``` and it displayed ```3.0.0```. However looking in the node_modules directory on the server I can see that the package.json is ```"version": "3.4.

[2018-06-19 11:01] howdyhyber opened #58 "Error in New ROS"
I have encountered an error in ROS with GraphQl. This is the logs

0 info it worked if it ends with ok
1 verbose cli [ '/home/ubuntu/.nvm/versions/node/v8.10.0/bin/node',
1 verbose cli   '/home/ubuntu/.nvm/versions/node/v8.10.0/lib/node_modules/pm2/lib/ProcessContainerFork.js',
1 verbose cli   'start' ]
2 info using npm@6.0.1
3 info using node@v8.10.0
4 verbose run-script [ 'prestart', 'start', 'p

[2018-06-19 11:54] howdyhyber opened #59 "GraphQL Internal Error"
We upgraded our server from 3.4.2 to 3.6.12, and we are experiencing some issue something like this.

Internal server error: Error: Field Query.taskTemplates can only be defined once. Field Mutation.deleteTaskTemplates can only be defined once. Field Subscription.taskTemplates can only be defined once. at assertValidSchema (/home/ubuntu/spingine/node_modules/graphql/type/validate.js:82:11) at Obje

[2018-06-19 11:56] nirinchev commented on #59
It appears as if the GraphQL service is creating duplicate definitions for the `TaskTemplate` class. Can you open this realm in Studio and verify that it doesn't have duplicate tables? If it doesn't, can you share the Realm file so we can examine it locally and try to reproduce?

[2018-06-19 12:00] howdyhyber commented on #59
In our Realm Path, there is TaskTemplate Class, and there is TaskTemplates class.

[2018-06-19 12:02] howdyhyber commented on #58
I used GraphQL version 2.6.0 and ROS 3.6.12

[2018-06-19 12:29] nirinchev commented on #58
What command do you use to start ROS? If you used `ros init` to initialize a typescript template, can you run `npm run start` and paste the output?

[2018-06-19 12:37] nirinchev commented on #59
Unfortunately nothing comes to mind - the assumption that classes are singular and PascalCase-d affects a lot of the schema generation code, so I don't think I can make a change without breaking every consumer.

It would be easiest if you could discard that Realm file and start from scratch. If that doesn't work for you (e.g. because it's used in production and there are users who depend on it), y

[2018-06-19 12:37] howdyhyber commented on #58
We use pm2 to start our ROS, ill provide it in a bit.

[2018-06-19 12:44] howdyhyber commented on #59
How to do it?

[2018-06-19 13:11] howdyhyber commented on #59
@nirinchev This solves our problem. Thanks :tada:

[2018-06-19 13:25] nirinchev opened #60 "Lift class name restrictions"
Currently, we assume classes are PascalCase-d singular nouns. This will likely cover the majority of the use cases but may lead to obscure errors for people who don't follow these conventions or have both a singular and plural version of the same class (see https://github.com/realm/realm-graphql-service/issues/59). We should figure out a way to support them.

[2018-06-20 00:20] howdyhyber opened #61 "Realm 3.6.12 and GraphQL 2.6.0"
I encountered a waring in ROS, it our apps cant sync. These are the Logs in the ROS:

unknown counter: realm.ip-10-0-0-134.ap-southeast-1.compute.internal.merges.performed - 122945,c
sync8:18:44 AM
unknown counter: realm.ip-10-0-0-134.ap-southeast-1.compute.internal.changeset.integrated - 1,c
sync8:18:45 AM
unknown timing: realm.ip-10-0-0-134.ap-southeast-1.compute.internal.changeset.integrated -

[2018-06-20 03:24] howdyhyber opened #62 "Upgrade Failed"
We have encountered an error something like this

HTTP upgrade failed (service did not respond properly) {"type":"https://realm.io/docs/object-server/problems/service-unavailable","title":"The requested service is temporarily unavailable.","status":503,"code":802} Request: a60ae892-e142-4ee6-b6c2-1ffd9182ff93 GET /realm-sync/%2Fxeleqt-production%2F__partial%2F30c7345a92921557b040dbe44fc27f3b%2F7b2

[2018-06-20 07:33] nirinchev commented on #61
I don't see anything that would indicate an error in these logs. Can you share more info on what exactly you're observing?

[2018-06-20 07:38] nirinchev commented on #62
This happens when you try to access ROS services before it has fully initialized. You can check if ROS is up and running by executing a `GET https://my-ros-instance/health` request. If this error persists, then it would indicate something went wrong when booting up.

[2018-06-20 07:38] #62 closed

[2018-06-20 09:37] howdyhyber commented on #61
This happens when the app syncs , those logs wil appear in the ROS.
![sync](https://user-images.githubusercontent.com/22556130/41650425-95e4ed60-74b0-11e8-9e82-c4ffe0cefe54.png)

[2018-06-20 09:57] nirinchev commented on #61
@alebsack @simonask do you know what could cause these? Seems like something is wrong with the metrics but I'm not familiar with that part of ROS.

[2018-06-20 12:57] alebsack commented on #61
@nirinchev They're warnings that the statsd exporter can't match the statsd name of the metric to the internal translation table for prometheus: https://github.com/realm/realm-object-server-private/blob/master/src/shared/StatsdExporter.ts#L151

These metrics, should, however be matched as we have everything defined. I think he might be getting these errors due to the hostname having multiple dots:

[2018-06-20 12:59] alebsack commented on #61
Having multiple dots in a machine's hostname is not illegal, but not necessarily good practice. That said, we should create a fix for this.

[2018-06-25 01:04] howdyhyber opened #63 "GraphQL Error"
Good morning!

We tried accessing two different realm paths using graphql/explore. The 1st realm path can successfully query classes, the second realm path displayed "Invalid options provided to ApolloServer: Cannot access realm that has been closed." . Our current way is to restart the server. Is there better way of resolving this scenario?

[2018-06-25 08:54] howdyhyber commented on #63
@nirinchev its a different scenario, the realm is not closed because i can still query the other realm path.

[2018-06-25 10:38] nirinchev commented on #63
Each Realm path corresponds to a single Realm, whose lifecycle is managed individually. So I'm fairly certain it's the same case - for some reason one of your Realms got into an inconsistent state where a component believes its cached instance is valid and attempts to use it but in reality it is not and I'm super interested in reproducing and fixing that.

[2018-06-28 08:04] howdyhyber opened #64 "Error what(): set: row ndx out of range"
We have encountered an error something like this:

terminate called after throwing an instance of 'realm::sync::BadChangesetError'
0|nextgo-r | what(): set: row ndx out of range
PM2 | App [nextgo-ros] with id [0] and pid [31707], exited with code [0] via signal [SIGABRT]
PM2 | Starting execution sequence in -fork mode- for app name:nextgo-ros id:0
PM2 | App name:nextgo-ros id:0 online

[2018-06-28 08:38] nirinchev commented on #64
Please refrain from opening identical issues in multiple repositories - it will not result in faster response times. I'm closing this one as it's not related to the GraphQL service.

[2018-06-28 08:38] #64 closed

[2018-07-08 13:43] kraenhansen commented on #20
Was this fixed or what seems to be the best work-around for now?

[2018-07-08 13:58] kraenhansen opened #65 "Cannot query, mutate or explore a Realm with an empty schema"
When accessing a Realm with an empty schema via the GraphiQL explorer the service responds with the following error:

<img width="955" alt="error-screenshot" src="https://user-images.githubusercontent.com/1243959/42420524-4a7d7a2a-82c7-11e8-85cc-e6aac590de40.png">

This is probably because the empty Realm and therefore the empty schema results in an unexpected ApolloServer configuration. When buil

[2018-07-08 16:30] kraenhansen commented on #20
On the discussion of REST vs GraphQL I would say its simpler to have a single way of accessing and mutating data, so if there is no technical limitiation to having it all be GraphQL based it would most probably simplify the interface from an API consumers point of view.

[2018-07-08 16:45] nirinchev commented on #20
No, this was never prioritized.

[2018-07-09 18:56] nirinchev commented on #61
Closing this in favor of https://github.com/realm/realm-object-server-private/issues/1143

[2018-07-09 18:56] #61 closed

[2018-07-31 09:41] astigsen commented on #32
Closing this as the question was answered. Please reopen if needed.

[2018-07-31 09:41] #32 closed

[2018-07-31 12:30] astigsen commented on #58
Closing this for now as it refers to an outdated version of ROS and there has not been feedback from the user for over a month. Please reopen if the issue resurfaces.

[2018-07-31 12:30] #58 closed

[2018-07-31 12:33] astigsen commented on #63
Closing this for now as it relates to an outdated version of ROS and there has been no feedback from the user for over a month. Please reopen if it resurfaces.

[2018-07-31 12:33] #63 closed

[2018-07-31 12:47] astigsen commented on #65
@nirinchev is this still relevant?

[2018-07-31 13:08] nirinchev commented on #65
Yes

[2018-08-01 08:57] astigsen commented on #47
Closing this for now as it relates to an outdated version of ROS and the question was answered. Please reopen if the problem resurfaces.

[2018-08-01 08:57] #47 closed

[2018-08-09 16:06] kraenhansen opened #68 "Invalidate the schema when it changes"
Would it be possible to use [Realm JS's `addListener` method](https://realm.io/docs/javascript/latest/api/Realm.html#addListener) to listen for changes to the schema and invalidate the schema cache when it changes?

[2018-08-10 13:57] nirinchev commented on #68
We already do that, but the realm has to be open for it to work.

[2018-08-12 19:52] kraenhansen commented on #68
Oh okay - I couldn't find the code for it .. but thanks :)

[2018-08-12 19:52] #68 closed

[2018-08-12 20:04] nirinchev commented on #68
Here it is: https://github.com/realm/realm-graphql-service/blob/master/src/service.ts#L879

[2018-08-20 10:51] kraenhansen opened #70 "As a user I would like to query against a Realm in query-based mode"
The [My First Realm App](https://github.com/realm/my-first-realm-app) uses the new default configurations to open a Realm in query-based mode, for users to create an Android, iOS and Web app that syncs against the same database the user needs a way to open a Realm in query-based mode via the Graph QL service.

It would also be desirable to be able to create and remove subscriptions from the query-

[2018-08-21 11:26] kraenhansen commented on #70
It turns out that opening a query-based (partial) realm actually crashes ROS with:

[code]

[2018-09-04 13:08] oleastre opened #73 "Invalid subscriptionHandler path matching"
Internally, realm-object-server handles paths for HTTP Upgrade in a different way than other paths; it   uses path-to-regexp to match upgrade paths.
The current `@Upgrade("/*")` defined for websocket connections is then invalid in the path-to-regexp sense.
It could probably be replaced by `@Upgrade("/(.*)")` but this does not work neither as ros uses URI.joinPaths that transforms the `*` character

[2018-09-04 13:20] nirinchev commented on #73
Thanks for reporting this - looks like an oversight that I hope to take a look at later today.

[2018-09-04 19:19] #73 closed

[2018-09-04 21:41] nirinchev commented on #73
I've released version 3.2.1 which should address this. Let me know if that works for you!

[2018-09-05 14:27] oleastre commented on #73
Seems to work as expected. Thanks for the quick fix.

[2018-09-07 11:45] qexpres opened #75 "Add aggregate function support"
Right now it is impossible to perform precalculations for aggregate functions on the graphql service. For a simple use case, such as counting linked relations, you have to query the items with their links and then you locally compute whatever you want to know (e.g. count, sum, average).

This is fine, as long as the lists aren't too big, but in my case the lists do become too big. This results in

[2018-09-10 12:48] astigsen commented on #39
@nirinchev: this issue relates to an old version of ROS. Can it be closed for now or is it still relevant?

[2018-09-10 12:54] nirinchev commented on #39
I believe @kraenhansen has experienced it with a recent ROS version.

[2018-09-11 09:46] kraenhansen commented on #39
Yep - I experienced this with ROS running in Realm Cloud about 3 weeks ago. I didn't get to make it reproducible, but I expect that it can happen if trying to open a GraphQL connection with an invalid access token.

[2018-10-16 11:13] nirinchev commented on #70
Duplicate of https://github.com/realm/realm-object-server-private/issues/1289

[2018-10-16 11:13] #70 closed

[2018-10-26 09:36] nirinchev commented on #65
We're now throwing a more meaningful error.

[2018-10-26 09:36] #65 closed

[2018-11-06 20:01] nirinchev opened #80 "GraphQL cache not invalidated when a Realm is deleted/reset"
This was reported on Forums: https://forum.realm.io/t/graphql-not-working-with-nodejs-created-realm/2124/3

[2018-11-19 09:07] qexpres commented on #75
Any thoughts on this? I'd be happy to figure something out by myself, but I would really love your support. In particular if we could agree upon a syntax.

[2018-11-19 11:21] nirinchev commented on #75
One compelling aspect of the current design is that we don't do anything custom about resolving object properties. Since they are already present on the Realm object, we just pass it to Apollo and it looks them up based on what the user has requested. Obviously, we can change that, but it requires a bit more effort around forming the response, which is why we haven't had time to look into this.

[2018-11-27 08:36] programaths opened #81 "Authentication requires something after the user identity in partial realms"
### Issue description
When we authenticate a token on a given path, the server do user identity check by comparing the token user id with the user id contained in the partial realm path.

The check expect the path to end with a "/"  . (`/*`)

That means that one has to add a "/" and something after as the ROS do not allow paths terminating with "/" for authentication.

[code]

### Test ? Code ? St

[2018-11-27 09:34] nirinchev commented on #81
This is by design, the convention we have for query based Realm paths is `/reference-realm/__partial/user-id/some-hash` where `some-hash` is generally an id that's unique for the device. This allows the same user to have different partial views of the reference Realm on different devices. Of course, you can hardcode a hash value and then you'll only have a single Realm per user. Is there a particu

[2018-11-27 11:20] nirinchev commented on #81
I'm not sure I fully understand the use case, sorry. Why would it matter for your web app if you have some random hash after the user id or not?

[2018-11-27 12:38] nirinchev commented on #81
I understand. I'm not entirely sure this is a supported scenario at the moment though. I believe some components rely on the template I showed (i.e. having a segment after the user-id segment). I can do some tests and verify if that will work, but my recommendation would be to just hardcode some hash in your web app - for example, in the reference implementation of a GraphQL client, we use `graphq

[2018-11-29 18:10] alebsack opened #83 "ReferenceError: realm is not defined"
Found this in cloud, v670 (`realm-object-server-3.15.0`, `realm-graphql-service-3.4.0`):

[code]

[2018-11-29 20:19] nirinchev commented on #83
@fealebenpae can you make anything of this stacktrace? The callsite in typescript is this one: https://github.com/realm/realm-graphql-service/blob/master/src/service.ts#L290. Is it possible that this gets thrown if the response completes before `openRealm` resolves on line 294?

[2018-11-30 10:45] fealebenpae commented on #83
Looking at the transpiled code the problem seems to be that the TypeScript compiler initializes the closure that captures the `realm` variable before it actually declares the variable. Nikola and I came up with a workaround.

[2018-11-30 11:16] #83 closed

[2018-12-10 10:43] nirinchev commented on #81
Closing this as there is a workaround that doesn't involve redesigning our other components.

[2018-12-10 10:43] #81 closed

[2019-01-07 08:49] nirinchev opened #87 "Allow GraphQL configuration via the configuration Realm"
[Requested by a user](https://forum.realm.io/t/set-presentintsasfloatsinschema-in-realm-cloud-graphql/2319) and technically not super challenging. It also makes sense, as none of the config options are something that needs to be set once and for all.

[2019-01-07 13:09] bmunkholm commented on #87
@nirinchev Estimate?

[2019-01-07 14:20] nirinchev commented on #87
Exposing the API should be doable in less than a day. A follow up would be a studio/cloud portal UI to actually consume the API. Technically, impatient users can use Studio to directly edit the content of the configuration Realm, so even without a UI, the feature could be useful.

[2019-01-08 18:54] ianpward opened #88 "Add JS API for Clearing GraphQL cache"
can we please add a convenience api to do this:
DELETE /graphql/schema/:path

https://github.com/realm/realm-graphql-service#endpoints

[2019-01-20 13:43] pierre-moire opened #89 "Use ISO 8601 as default returned format for dates"
Currently when we query a date field from a class through GraphQL, we get something like "Wed Aug 01 2018 13:47:32 GMT+0000 (UTC)"

Is possible to return an iso 8601 date by default, or a way to specify format we would like to get?

Note: also in GraphiQL when we look at the schema of a class, dates are currently shown as strings. Shouldn't it show the proper type?

Many thanks,

Pierre

[2019-01-28 10:59] nirinchev commented on #89
This makes sense - the reason why we chose to use `String` was because GraphQL (and json) doesn't have a built-in date type. Still, I think there's value in introducing one, which has the added benefit that it gives us control over the serialization format. I have a PR that fixes it and expect it will be released with the next version of ROS.

[2019-01-30 10:44] #89 closed

[2019-01-31 00:10] #87 closed

[2019-02-01 17:39] #80 closed

[2019-04-01 12:11] Dids commented on #47
@nirinchev Is this still an issue with the latest Realm GraphQL client and Realm Cloud?

[2019-04-01 12:25] nirinchev commented on #47
No, this has been resolved, but you need to make sure to connect using query-based sync.

[2019-04-12 07:52] cedvdb opened #91 "querying one entity that has read only permission won't give any result"
Using

[code]

On an entity that has read only permission won't give any result back.

[2019-04-12 16:33] nirinchev commented on #91
If you query all products, do you see the one with that id?

[2019-04-15 13:18] cedvdb commented on #91
Not sure what you mean.

If I add the class level permission of Query, I do receive a result. If I don't add the class level permission, by definition I cannot query all products.

[2019-04-15 14:12] nirinchev commented on #91
You say that issuing a query like `product(id: "123")` returns nothing. What is the result of a `products` query (which should return all objects) - do you get an object with `id: 123` or is it missing altogether? I'm just trying to narrow down the potential issue. Also, if you use a native SDK (e.g. node/swift/etc.), do you get the object - i.e. is this an issue that only affects GraphQL or all c

[2019-04-16 09:28] cedvdb commented on #91
Unless I'm mistaking, if a class has permissions:

[code]
Your statement  "which should return all objects" is false.

But If I set the permissions to

[code]

Then I do receive the object.

I *assume* the answer is yes and that it's a problem with gql only. But I didn't try and I'm kind of in a hurry so I cannot do it right now. Maybe tomorrow

[2019-04-23 10:29] cedvdb opened #92 "Add mass update support"
We would like to have a mutation where a query can be used to make many updates at once.

`mutation updateManyProduct(productInput: ProductInput, query: String!) `.

[2019-04-23 11:06] nirinchev commented on #92
This is not possible because Realm is not a SQL-based database. Updating many objects is supported by using the `createProducts` mutation and providing the updated values for all objects. You can use it like:

[code]

[2019-04-23 11:06] #92 closed, assigned to nobody

[2019-05-07 08:49] cedvdb commented on #92
@nirinchev  Yes that works for updating products where you already know the id. Props for that, it resolved *some* issues but not all of them.

The issue is that we have to query all the products on our website before doing an update. The update can be done internally in the graphql service without requiring the client to pass loads of ids under the network which is way slower. SQL or not, that ca

[2019-05-07 09:09] nirinchev commented on #92
I agree, it can be done, but it's not easy to handle all the various corner cases precisely because Realm doesn't offer string based modification capabilities (like SQL databases do). It's quite straightforward for top-level properties (strings, integers, dates), but it gets a little tricky when you go into links, especially links without primary keys. I'm not against providing some sort of a mass

[2019-06-17 13:50] MichaelShakke commented on #92
@nirinchev

When trying to use the mutation `createProducts` as a many updater, it works for all the different types (string, int, objects) except for the boolean ones, if I try
[code]
the value inside the object never gets updated, is there any way to fix this?

[2019-06-17 13:51] nirinchev commented on #92
Can you please open a new issue with steps to reproduce and we'll look into that.

[2019-06-18 12:59] MichaelShakke opened #93 "When using mutation create MODIFIED, boolean type does not update"
When trying to use the mutation `createProducts` as a many updater, it works for all the different types (string, int, objects) except for the boolean ones, if I try:

**This is the object on my DB**
[code]

**This are the new values for the update**
[code]

**Mutation performed**
[code]

**Result obtained**
[code]
The boolean value never gets updated, but the other types will always get updated.

[2019-06-24 12:55] cedvdb commented on #93
Yeah, this is super annoying

[2019-07-19 15:06] cedvdb commented on #91
Just to be more clear, as I see this is still pending.

I think the issue arose when

[code]

won't give any result for

[code]

[2019-10-27 09:21] pierre-moire commented on #9
Do you have alternative ways to handle partial updates? A global query refetch is a major drawback that make serious applications very slow: every time you change anything you have to wait for the server to resend the whole data tree.

[2020-07-06 02:55] cclinh opened #94 "Invalid options provided to ApolloServer: User is no longer valid."
We have a web app that connect to a production realm server using GraphQL. Its working normally for months.
Recently, we can't connect to realm server using graphql. The error response is:
`Invalid options provided to ApolloServer: User is no longer valid.`

has anyone run into the same problem?

[2020-07-06 19:47] nirinchev commented on #94
How are you authenticating the user?

[2020-07-07 01:21] cclinh commented on #94
@nirinchev I followed the instruction here
https://docs.realm.io/sync/graphql-web-access/using-the-graphql-client
[code]
Its worth mentioning that it has worked normally before and the error occurs on realm studio as well

[2020-07-07 05:48] nirinchev commented on #94
Hm... Do you use query based sync via graphql? If you're using the legacy Realm Cloud, can you open a support ticket and ask the team to restart your graphql service? If you're self hosting ROS, can you try restarting it yourself?

[2020-07-07 06:34] cclinh commented on #94
@nirinchev  Thanks for your  support. I opened a ticket to realm support team and got the answer that it was a server issue in us1 region.
The graphql server is working normally now.
This is not an issue with realm graphql client so I'll close this issue

[2020-07-07 06:34] #94 closed, assigned to nobody